<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Authenticated | Bulma Testing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="../public/assets/css/styles.css" />
</head>
<body>
        <div include-html="../public/includes/navbar.html"></div>

        <section class="section">
            <div class="container">
                <h1 class="title">
                    Authenticated
                </h1>
                <p class="subtitle">
                   You are seeing this page because you are already <strong>authenticated</strong>!
                </p>
            </div>
        </section>
    
        <section>
    
    
        </section>
    
        <script src="/public/assets/js/scripts.js"></script>
        <script>
            includeHTML();
        </script>
</body>
</html>