<section class="section">
    <div class="container">
        <h1 class="title">
            Authenticated
        </h1>
        <p class="subtitle">
           You are seeing this page because you are already <strong>authenticated</strong>!
        </p>
    </div>
</section>