<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hello World
            </h1>
            <h2 class="subtitle">
                My first website with <strong>Bulma</strong>!
            </h2>
        </div>
    </div>
</section>
<section>

    <p>Take a look around! Feel free to login via Discord to see a bit of your profile!</p>
    <p><em>This website is still under construction.</em></p>

</section>