$ff: 'Open Sans';
$primary: #dd9323;

@charset 'utf-8';
@import '../../../node_modules/bulma/bulma.sass';

body {
    font-family: $ff;
    padding: 30px;
}

.is-primary {
    background-color: $primary !important;
}

section {
  margin-bottom: 1.5rem !important;
}

.media-content {
  overflow-x: inherit !important;
}