$ff: 'Open Sans';
$primary: #dd9323;

@charset 'utf-8';
@import '../../../node_modules/bulma/bulma.sass';

body {
    font-family: $ff;
}

.is-primary {
    background-color: $primary !important;
}

section {
  margin-bottom: 1.5rem !important;
}

.media-content {
  overflow-x: inherit !important;
}

ul, .profile-bot-manage {
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
  overflow: hidden;
}

li, .profile-bot-manage {
  display: inline;
}

#contactForm, .indexPage {
  padding: 15px;
}