$ff: 'Open Sans';
$primary: #dd9323;

@import '../../../node_modules/bulma/css/bulma.css';

body {
    font-family: $ff;
    padding: 30px;
}

.is-primary {
    background-color: $primary !important;
}

section {
  margin-bottom: 1.5rem !important;
}

.media-content {
  overflow-x: inherit !important;
}